{% extends 'base.html.twig' %}

{% block title %}Roomvalley Calendar TEST{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src={{ asset('js/owl') }} defer></script>
            <script src={{ asset('js/parallax.js') }} defer></script>

             <script src={{ asset('js/jquery-3.6.4.min.js') }} defer></script>
            <script src={{ asset('js/jquery-migrate-3.0.0.min.js') }} defer></script>
            <script src={{ asset('js/popper.min.js') }} defer></script>
            <script src={{ asset('js/bootstrap.min.js') }} defer></script>
            <script src={{ asset('js/bootstrap-select.min.js') }} defer></script>
            <script src={{ asset('js/jquery.mmenu.all.js') }} defer></script>
            <script src={{ asset('js/ace-responsive-menu.js') }} defer></script>
            <script src={{ asset('js/jquery-scrolltofixed-min.js') }} defer></script>
            <script src={{ asset('js/wow.min.js') }} defer></script>
            <script src={{ asset('js/owl') }} defer></script>
            <script src={{ asset('js/parallax.js') }} defer></script>
            <!-- Custom script for all pages -->
            <script src={{ asset('js/script.js') }} defer></script>
{% endblock %}

{% block body %}
{# 
{# Affichage des salles #}
			
        {# fin d'affichage des salles  #}




<div class="container fixed-right mb-2 pt-2">
    <div class="d-flex flex-column align-items-end">
        <div id="calendar1">
            <!-- Votre calendrier ici -->
        </div>
        <div>
            <form action="" method='post' class="text-center">
                <label for="date_start">Reservation pour le : </label>
                <input type="date" name="date_start" id="date_start">
                <br>
                <label for="date_end">Fin de Reservation pour le : </label>
                <input type="date" name="date_end" id="date_end">
                <br>
                <label for="nombre_jours">Nombre de Jour(s) Reserver :</label>
                <span name="nombre_jours" id="nombre_jours"></span>
                <br>
                <input type="submit" name="submit" value="Valider les Dates" id="addToReservationButton" class="btn btn-success" disabled="disabled">
            </form>
        </div>
    </div>
</div>

</div>

     <script>
document.addEventListener('DOMContentLoaded', function() {
    let isStartDateSelected = false;
    let startDate = '';
    const calendarEl = document.getElementById('calendar1');
    const dateStartInput = document.getElementById('date_start');
    const dateEndInput = document.getElementById('date_end');
    const numberOfDaysElement = document.getElementById('nombre_jours');

    function updateNumberOfDays() {
        const dateStart = new Date(startDate);
        const dateEnd = new Date(dateEndInput.value);

        let numberOfDays = 0;
        let currentDate = dateStart;

        while (currentDate <= dateEnd) {
            // Vérifier si le jour de la semaine n'est pas un samedi (6) ou un dimanche (0)
            if (currentDate.getDay() !== 6 && currentDate.getDay() !== 0) {
                numberOfDays++;
            }

            currentDate.setDate(currentDate.getDate() + 1);
        }

        // Afficher le nombre de jours entre les deux dates dans l'élément #nombre_jours
        numberOfDaysElement.textContent = numberOfDays;
    }

    const calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap5',
        initialView: 'dayGridMonth',
        timeZone: 'Europe/Paris',
        locale: 'fr',
        selectable: true,
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'prevYear,nextYear'
        },
        select: function(info) {
            if (!isStartDateSelected) {
                startDate = info.startStr;
                dateStartInput.value = startDate;
                isStartDateSelected = true;
            } else {
                const endDate = info.startStr;
                dateEndInput.value = endDate;
                isStartDateSelected = false;
                updateNumberOfDays(); // Met à jour le nombre de jours quand date_end est sélectionné
            }
        }
    });

    // Écoutez l'événement 'input' pour les champs de date
    dateStartInput.addEventListener('input', function() {
        startDate = dateStartInput.value;
        updateNumberOfDays(); // Met à jour le nombre de jours dès que date_start est modifié
    });

    dateEndInput.addEventListener('input', function() {
        updateNumberOfDays(); // Met à jour le nombre de jours dès que date_end est modifié
    });

    calendar.render();
});

</script>


{% endblock %}
 