{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% for user in users|filter(user => user.id == app.user.id) %}
<section style="background-color: #eee;">
    <h1 class="container py-4">Profil</h1>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <p>{{ user.roles ? user.roles|json_encode : '' }}</p>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{ user.lastname }}.{{ user.firstname }}</h5>
                                <div class="d-flex justify-content-center mb-2">
                                    <a class="btn btn-primary" href={{ path('app_profile_edit', {'id': user.id}) }}>Éditer</a>
                                    <a class="btn btn-danger" href={{ path('app_profile_delete', {'id': user.id}) }}>Supprimer</a>
                                </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> Numéro de téléphone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.phone }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}