{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}

<h1>{{ name_page }}</h1>

<form action="{{ path('app_search') }}" method="GET">
	<input type="text" name="q" id="search" placeholder="Search">
	<input type="submit" value="Search">
</form>

{{ dump(query) }}
{% if results|length > 0 %}
	<article class="row">
		<div class="col-12">
			<div class="row">
				{% for result in results %}
					{{ dump(result) }}

					{% for room in result %}
						<div class="col-lg-3 col-md-6">
							<div
								class="card h-100 mx-auto">
								{# pour la page de résultat, récupération de la première image mais sous condition de présence d'image.
								                        Si l'image est absente, on récupère l'image par défaut #}
								{% if room.imagesRooms[0] %}

									<img class="card-img-top img-fluid " src={{ room.imagesRooms[0].path }} alt={{ room.name }}>

									{% else %}
								{% endif %}
								<div class="card-body flex-grow-1">
									<h2 class="card-title ">{{ room.name }}
									</h2>
									<h6>
										<i class="bi bi-people-fill"></i>
										{{ room.capacity }}
										-
										<i class="bi bi-tag-fill"></i>
										{{ room.price }}
										€/jour</h6>
									{# La description est réduite en affichage #}
									<p class="card-text">{{ room.description|slice(0,100) }}</p>
									{# espace pour les équipements de la salle et les ergonomies #}
									<div class="row">
										<div class="col-md-8 p-4">
											<h4 class="title">Ergonomies</h4>
											<ul class="list-unstyled">
												{% for ergo in room.ergonomy %}
													<li class="media d-flex align-items-start">
														{% if ergo.icon %}

															<img class="d-flex me-3" src="{{ ergo.icon }}" width="60" alt="{{ ergo.name }}">
														{% else %}
															<img class="d-flex me-3" src="https://via.placeholder.com/60" alt="icon par défault">
														{% endif %}
														<div class="media-body">
															<h5 class="mt-0 mb-1">{{ ergo.name }}</h5>
														</div>
													</li>
												{% endfor %}


											</ul>

                                            <h4 class="title">Equipement</h4>
											<ul class="list-unstyled">
												{% for item in room.equipmentRoomQuantities %}

                                                
                                                    {% for stuff in item.equipment %}
                                                        
													<li class="media d-flex align-items-start">
														{% if item.icon %}

															<img class="d-flex me-3" src="{{ item.icon }}" width="60" alt="{{ item.name }}">
														{% else %}
															<img class="d-flex me-3" src="https://via.placeholder.com/60" alt="icon par défault">
														{% endif %}
														<div class="media-body">
															<h5 class="mt-0 mb-1">{{ item.name }}</h5>
														</div>
													</li>
                                                    {% endfor %}
												{% endfor %}


											</ul>
										</div>
									</div>
								</div>

								<a href="#" class="btn btn-primary">Voir la salle
									{#{{ path('app_room', {id: room.id}) }}#}
								</a>
							
						</div>
					</div>

				{% endfor %}
			{% endfor %}
		</div>
	</div>
</article>{% endif %}{% endblock %}
